# Compiled files
*.jceks
*.jks
*.crt
*.key
*.cer
*.pem
*.pub
*.pkcs8
*.tf.bkp
*.tf.backup
*.tfstate
*.tfstate.backup
terraform.tfstate*
.terraform
.variables
tfplan
.terraform.lock.hcl
/terraform/terragrunt.hcl
AWSCLIV2.pkg
client.ovpn
policies
resources
backend.tf
provider.tf
external.tf
common.tf
